/*****************************Title Section ********************************/
body{

}
.main-building{
height:85%;
width: 85%;
position: relative;
margin: 0% 7.5%;

}
h1{
  font-family: "Rye";
  font-size: 50px;
  text-align: center;
}
.image-title{
  background-color:#f0f0f0;
}
/******************************** WhySirMv ********************************/
.why-sirMv{
  padding:5% 10%;
  background-color: #f6acc8;
}
.why{
  width::25%;
  height: 25%;
  border-radius: 100%;
  float: left;
  margin-right:5%;
}
.why-text{
  font-family: 'Merriweather';font-size: 10;
   line-height: 2;
   text-align: left;
}
/********************************** Founders-Word ***************************/
.founders-photo{
  height: 25%;
  width: 25%;
  border-radius: 100%;

  float: right;
  margin-bottom:502px;

}
.founder{

  background-color: #e43f5a;
  padding: 10%;
}
/*******************************Contact********************************/
.contact{
  background-color:#844685;
  padding: 7% 15%;
  text-align: center;


}
.sos-image{
  padding: 1%;

}
.sos-pad{
  padding-top :1%; 
}
.contact-images{

}
